*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

db.sqlite3             
*.log                   
/media/                
staticfiles/            

env/
venv/
.venv/
.env

*.env                  
.env.*                 

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

htmlcov/
.coverage
coverage.xml
.tox/
noxfile.py
.pytest_cache/