<form method="post">
    {% csrf_token %}
    {{ form.producto.label_tag }} {{ form.producto }}
    {{ form.lote.label_tag }} <select id="id_lote" name="lote"><option value="">---------</option></select>
    {{ form.cantidad.label_tag }} {{ form.cantidad }}
    {{ form.tipo.label_tag }} {{ form.tipo }}
    {{ form.fecha.label_tag }} {{ form.fecha }}
    <button type="submit">Guardar</button>
  </form>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $("#id_producto").change(function () {
      var url = "{% url 'ajax_cargar_lotes' %}";
      var productoId = $(this).val();
  
      $.ajax({
        url: url,
        data: {
          'producto': productoId
        },
        success: function (data) {
          $("#id_lote").html('<option value="">---------</option>');
          for (var i = 0; i < data.length; i++) {
            $("#id_lote").append('<option value="' + data[i].id + '">' + data[i].numero + '</option>');
          }
        }
      });
    });
  </script>
  