{% extends 'core/base_admin.html' %}
{% load static %}

{% block title %}Listado de Lotes Activos{% endblock %}


{% block extra_head %}
  
    <link rel="stylesheet" href="{% static 'administrador/css/lista_usuarios.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

{% endblock %}

{% block content %}


<div class="acciones-derecha ancho-contenido">
    <a class="boton-header" href="{% url 'dashboard_productos' %}">
        Dashboard
        <img src="{% static 'administrador/svg/reporteria.svg' %}">
    </a>
    <a class="boton-header" href="{% url 'listar_productos' %}" >Productos</a>
    <a class="boton-header" href="{% url 'listar_mermas' %}" >Mermas</a>

    <a class="boton-header" href="{% url 'agregar_lote' %}">
        Agregar lote
        <img src="{% static 'administrador/svg/plus.svg' %}">
    </a>
</div>

<h2 class="titulo">Listado de Lotes</h2>

<div class="busqueda-agregar">
    <input type="text" placeholder="Buscar Producto .........." class="input-busqueda">


    <div class="dropdown">
        <a href="#" class="boton-header" id="dropdownMenuButton">
            Filtrar
            <img src="{% static 'administrador/svg/filter-solid.svg' %}">
        </a>
        <ul id="filterOptions" class="dropdown-content" style="display:none;">
            <li><a href="#" onclick="applyFilter('nombre')" data-filter="nombre" class="{% if order_by == 'nombre' %}filtro-activo{% endif %}">Nombre</a></li>
            <li><a href="#" onclick="applyFilter('tipo')" data-filter="tipo" class="{% if order_by == 'tipo' %}filtro-activo{% endif %}">Tipo</a></li>
            <li><a href="#" onclick="clearOrderFilter()">Limpiar filtro</a></li>
        </ul>
    </div>
</div>

<div class="contenedor-tabla ancho-contenido">
    <table class="tabla-usuarios tabla-productos">
        <thead>
            <tr>
                <th><input disabled type="checkbox"/></th>
                <th>Número</th>
                <th>Total de Productos</th>
                <th>Fecha de Ingreso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for lote in lotes %}
            <tr>
                <td><input disabled type="checkbox"/></td>
                <td>{{ lote.id }}</td>
                <td>{{ lote.detalles.count }}</td>
                <td>{{ lote.fecha }}</td>
                <td class="acciones">
                    <a href="{% url 'ver_lote' lote.id %}" title="Ver">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>                
            </tr>
            {% endfor %}
        </tbody>        
    </table>
</div>

<script>
    function activarCargaExcel() {
        document.getElementById('input-excel').click();
    }
</script>

{% endblock %}