{% extends 'core/base_admin.html' %}
{% load static %}

{% block title %}Listado de Mermas{% endblock %}

{% block extra_head %}
<link href="{% static 'administrador/css/productos.css' %}" rel="stylesheet"/>
<link href="{% static 'administrador/css/lista_usuarios.css' %}" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="acciones-derecha ancho-contenido">
    <a class="boton-header" href="#" id="carga-masiva-btn">
        Carga masiva
        <img src="{% static 'administrador/svg/carga-masiva.svg' %}"/>
    </a>
    <a class="boton-header" href="{% url 'dashboard_productos' %}">
        Dashboard
        <img src="{% static 'administrador/svg/reporteria.svg' %}"/>
    </a>
    <a class="boton-header" href="{% url 'agregar_merma' %}">
        Agregar Merma
        <img src="{% static 'administrador/svg/plus.svg' %}"/>
    </a>
</div>

<h1 class="titulo-pagina">Listado de Mermas</h1>

<div class="buscador-wrapper">
    <form action="" method="GET">
        <div class="contenedor-busqueda">
            <div class="input-icono">
                <input name="q" placeholder="Buscar Producto ........" type="text"/>
                <i class="fa fa-search icono-input"></i>
            </div>
            <button class="btn-filtrar" type="submit">
                Filtrar <i class="fa fa-filter"></i>
            </button>
        </div>
    </form>
</div>

<div class="filtro-busqueda ancho-contenido">
    <form class="formulario-busqueda" method="GET"></form>
</div>

<div class="contenedor-tabla ancho-contenido">
    <table class="tabla-usuarios tabla-productos">
        <thead>
            <tr>
                <th><input disabled type="checkbox"/></th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Lote</th>
                <th>Fecha de Ingreso</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for merma in mermas %}
            <tr>
                <td><input name="producto_ids" type="checkbox" value="{{ merma.id }}"/></td>
                <td>{{ merma.producto }}</td>
                <td>{{ merma.cantidad }}</td>
                <td>{{ merma.lote }}</td>
                <td>{{ merma.fecha }}</td>
                <td>${{ merma.precio|floatformat:0 }}</td>
                <td class="acciones">
                    <a href="#" title="Editar"><i class="fa fa-pen"></i></a>
                    <a href="#" title="Bloquear"><i class="fa fa-lock"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No hay mermas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}