{% extends 'core/base_admin.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'administrador/css/detalle_compra.css' %}">
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <h2 class="titulo">Detalle del Lote #{{ lote.id }}</h2>

    <div class="detalle-compra">
        <p><strong>Fecha de creación:</strong> {{ lote.fecha }}</p>

        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Unidad</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for item in detalle_lote %}
                <tr>
                    <td>{{ item.producto }}</td>
                    <td>{{ item.unidad }}</td>
                    <td>${{ item.precio }}</td>
                    <td>{{ item.cantidad }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" style="text-align:center;">No hay productos en este lote.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="boton-header">
      <a href="{% url 'listar_lotes' %}">Volver</a>
    </div>
</div>
{% endblock %}