body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8dd;
    margin: 0;
    padding: 0;
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password-box {
    background-color: #f3f3dc;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    min-width: 400px;
}

.password-box h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 48px;
    color: #222;
    font-weight: normal;
}

.form-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
    font-weight: normal;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-btn,
.confirm-btn {
    padding: 10px 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    width: 45%;
}

.cancel-btn {
    background-color: #A91B0D;
    color: white;
}

.confirm-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
}