body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8dd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-password-container {
  background-color: #f3f3dc;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.reset-password-container h2 {
  font-size: 48px;
  color: #222;
  margin-bottom: 80px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-group label {
  font-size: 20px;
  color: #333;
  margin-bottom: 6px;
  text-align: left;
}

input[type="password"] {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.back-link,
button {
  width: 150px;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 8px;
  text-decoration: none;
}

.back-link {
  background-color: #A91B0D;
  color: white;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}