{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo enviado</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'registration/css/password_reset_done.css' %}">
</head>
<body>
    <div class="reset-done-container">
        <div class="reset-done-box">
            <h2>Restablecimiento de contraseña enviado</h2>
            <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó.</p>
            <p>Debería recibirlos en breve.</p>    
            <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>   
            <div class="button-container">
                <a href="{% url 'login' %}" class="back-btn">Volver</a>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}